<div class="user-grid">


<mat-card class="right" *ngIf="member">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      {{member.knownAs}}
    </mat-card-title>
    <mat-card-subtitle>{{member.city}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{member.photoUrl}}" alt="{{member.knownAs}}">
  <mat-list class="engagement-options">
    <mat-list-item class="button-options">
      <mat-card-actions>
        <button mat-button >
          Like
        </button>
      </mat-card-actions>
    </mat-list-item>
    <mat-list-item class="button-options">
      <mat-card-actions>
        <button mat-button>Save</button>
      </mat-card-actions>
    </mat-list-item >
    <mat-list-item class="button-options">
      <mat-card-actions>
        <button mat-button>Message</button>
      </mat-card-actions>
    </mat-list-item>
  </mat-list>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        Age: {{member.age}}
      </mat-list-item>
      <mat-list-item>
        Gender: {{member.gender}}
      </mat-list-item>
      <mat-list-item>
        City: {{member.city}}
      </mat-list-item>
      <mat-list-item>
        Country: {{member.country}}
      </mat-list-item>

    </mat-list>


  </mat-card-content>

</mat-card>
<mat-card class="left" *ngIf="member">

 <mat-card-content>
  <mat-card-header>About</mat-card-header>



    <p>{{member.introduction}}</p>
 <mat-card-header>Interests</mat-card-header>
  <p>{{member.interests}}</p>
<mat-card-header>Photos</mat-card-header>
<gallery [items]="images"></gallery>

  </mat-card-content>

</mat-card>
</div>

