.div-item{
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: center;



}
.div-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;


}
mat-list{
  list-style-type: none;
}
