<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2>Sign Up</h2>
  <hr>
  <div>
    <mat-form-field>
      <input
      matInput
      placeholder="username"
      name="username"
      [(ngModel)]="model.username"
      >
    </mat-form-field>
    <mat-form-field>
      <input matInput
      type="password"
      placeholder="password"
      name="password"
      [(ngModel)]="model.password"
      >
    </mat-form-field>
  </div>
  





  <div>
    <button type="submit">Register</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </div>

</form>
